
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href='styles.css'>
</head>
<body>
    <div class="header">
    <div class="fondo_header">

        <div class="contenedor_header">
            <header>
                <h1 class="titulo_principal"> <!--css  atraves de atributo-->
                    bienvenidos a IMPERIUM <br> <span>como desea accerder</span>
                </h1>

            </header>
    <div class="cont_centrar">
            <div class="centrar">
                <a href="https://api.whatsapp.com/send?phone=573204452918&amp;text= desde mi portafolio"
                    target="_blank">
                        <button class="btn_imperium">administrador</button>
                </a>
            </div>

                <div class="centrar">
                <a href="https://api.whatsapp.com/send?phone=573204452918&amp;text= desde mi portafolio"
                    target="_blank">
                        <button class="btn_imperium">usuario</button>
                </a>
                </div>
    </div>
            </div>
          </div>
        </div>
     </div>
 </div>
</div>
</body>
</html>

